$typography: (
	'h1' 64 70 600,
	'h2' 48 58 600,
	'h3' 32 42 600,
	'h4' 24 34 600,
	'h5' 20 30 600,
	'h6' 18 28 600,

	'13' 13 22 400,

	'14' 14 24 400,
	'14-l' 14 24 300,
	'14-r' 14 24 400,
	'14-m' 14 24 500,

	'16' 16 26 400,
	'16-l' 16 26 300,
	'16-r' 16 26 400,
	'16-m' 16 26 500,
	'16-sb' 16 26 600,

	'18' 18 28 400,
	'18-r' 18 28 400,
	'18-m' 18 28 500
);

@each $prefix, $fs, $lh, $fw in $typography {
	.go-text-#{$prefix} {
		font-size: #{$fs}px;
		line-height: #{$lh}px;
		font-weight: #{$fw};
	}
}
