$highlight: #41e0fd;
$default: #20232a;
$light: #f8f8f8;
$dark: #000000;
$light-1: darken($light, 10);
$light-2: darken($light, 20);
$dark-1: darken($light, 60);
$dark-2: darken($light, 50);

/* design-system-demo-page */
.design-system-demo-page {
	background: #e6e4e4;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 1em;
	}

	hr {
		margin-block: 20px;
	}

	header {
		padding: 15px;
		background: $default;
		color: $light-1;
		text-align: center;
		span,
		.logo > * {
			color: $highlight;
		}
		&.navigation {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			z-index: 999;
			a {
				color: $light-2;
				text-decoration: none;
				margin: 0 5px;
				&.logo {
					margin: 0;
					padding: 0;
					font-size: 1.5em;
					line-height: 1;
					margin-right: 10px;
				}
			}
		}
	}

	main {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-gap: 30px;
		aside,
		section {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		section {
			padding-left: 20px;
			padding-right: 20px;
			h2 {
				color: $dark;
			}
		}
		aside {
			padding-left: 20px;
			padding-right: 20px;
			> ol,
			> ul {
				position: -webkit-sticky;
				position: sticky;
				top: 80px;
				a {
					text-decoration: none;
					display: inline-block;
					&:hover {
						color: $dark-1;
					}
				}
			}
			ul,
			ol {
				list-style: none;
			}
			ul li > ul,
			ol li > ul {
				padding-left: 10px;
			}
			&.sidebar-left {
				background: $light;
				border-right: 1px solid $light-1;
				font-size: 1em;
				a {
					color: $dark;
				}
				ol > li > a {
					font-size: 1.4em;
					font-weight: 400;
					margin: 10px 0;
				}
			}
			&.sidebar-right {
				color: $dark-1;
				ul:first-child {
					border-left: 1px solid $light-1;
					padding-left: 15px;
				}
				a {
					color: $dark-1;
				}
			}
		}
	}

	footer {
		background: $default;
		color: $light-2;
		padding: 20px;
		text-align: center;
		a {
			color: $light-2;
		}
	}

	.scroll-to-top-btn {
		display: inline-flex;
		position: absolute;
		right: 20px;
		cursor: pointer;
	}

	.colors {
		> div {
			display: flex;
			gap: 2px;
			span {
				width: 60px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&.div1 {
				span {
					background: #a5a5a5;
					border: 1px solid #000000;
				}
			}
			&.div2 {
				span {
					border: 1px solid #000000;
					color: lightgray;
				}
			}
		}
	}
}
